@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: url("/fonts/HelveticaNeueCyr-Light.otf") format("opentype");
}

@font-face {
    font-family: HelveticaNeueCyr-Medium;
    src: url("/fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
}

@font-face {
    font-family: HelveticaNeueCyr-Thin;
    src: url("/fonts/HelveticaNeueCyr-Thin.otf") format("opentype");
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*---------------*/

.item-box {
    width: 100%;
    font-size: 0px;
}

.item-box .item {
    height: 200px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.item img.item-bg, .manufacturer img.item-bg {
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 400px;
}

.manufacturer {
    width: 100%;
    display: block;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.service-item, .index-box .news-item, .project-item {
    width: 25%;
}

.brand-item, .catalog-item {
    width: 20%;
}

.about-footer .news-item {
    width: 50%;
}

.collection-img-item {
    width: 33.33%;
}

.service-item {
    display: table !important;
    float: left;
}

.catalog-logo {
    position: absolute;
    width: 180px;
    height: 200px;
    top: 0;
    left: 50%;
    margin-left: -90px;
    z-index: 20;
}

.manufacturer-logo {
    position: absolute;
    width: 180px;
    height: 200px;
    top: 0;
    left: 50%;
    margin-left: -90px;
    z-index: 20;
}

/*-------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 1200px;
    font: 12px "HelveticaNeueCyr-Light";

}

a {
    text-decoration: none;
}

h1 {
    font-size: 3em;
    font-weight: normal;
}

.anchor {
    clear: both;
    float: none;
}

.table {
    display: table;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

.content {
    margin-left: 16.6%;
    min-height: 100%;
    height: 100%;
}

.breadcrumbs {
    color: #a1a1a1;
    font-family: Tahoma;
    padding: 50px 0px 15px 100px
}

.breadcrumbs a {
    color: #a1a1a1;
}

/*-- sidebar --*/
.social, .callback, .copyright, .phone, .city {
    display: none;
}

@media (min-height: 380px) {
    .change-city {
        display: inline-block;
    }

    .copyright {
        display: block;
    }

    div.phone {
        display: block;
        margin-top: 0;
    }

}

@media (min-height: 450px) {
    .phone {
        display: block;
    }

    div.phone {
        margin: 30px 0px 10px;
    }
}

@media (min-height: 490px) {
    .city {
        display: block;
    }
}

@media (min-height: 510px) {
    .social {
        display: block;
    }
}

@media (min-height: 550px) {
    .callback {
        display: block;
    }
}

.aside {
    position: fixed;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background: #222222;
    width: 16.6%;
    min-width: 200px;

}

.aside-content {
    position: relative;
    padding: 20px 0px 0px;
    background: #222222;
    z-index: 10;
}

.aside-footer {
    position: absolute;
    width: 156px;
    padding: 0px 30px 20px;
    bottom: 15px;
    width: 100%;
    /*margin: 120px auto 0;*/
    z-index: 5;
}

.aside-footer-wrapper {
    position: relative;
    height: 90px;
}

.city {
    text-align: center;
}

.city-name {
    font-size: 1.5em;
    color: #898989;
    font-family: "HelveticaNeueCyr-Thin";
}

.change-city {
    color: #fff;
    border-bottom: 1px dashed;
    cursor: pointer;
    white-space: nowrap;
    font-family: Tahoma;
}

.phone {
    font-size: 2em;
    color: #898989;
    text-align: center;
    margin: 30px 0px 10px;
    font-family: "HelveticaNeueCyr-Thin";
    white-space: nowrap;
}

.callback {
    color: #fff;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    font-family: Tahoma;
    white-space: nowrap;
}

.aside-menu {
    /*border: 1px solid #fff;*/
    width: 76%;
    height: 260px;
    z-index: 10;
    background: #222222;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -38%;
    margin-top: -130px;
}

.logo {
    padding-bottom: 20px;
    border-bottom: 1px solid #464646;
}

.logo a {
    outline: none !important;
    display: block;
    text-align: center;
}

.logo img {
    width: 100%;
    max-width: 170px;
}

.logo-description {
    color: #898989;
    text-align: center;
    font: 11px Tahoma, sans-serif;
    white-space: nowrap;
}

.menu {
    list-style: none;
    padding: 20px 0 10px;
}

.menu li {
    line-height: 24px;
    text-align: center;
}

.menu li a {
    color: #898989;
    text-decoration: none;
    text-transform: uppercase;
    font: 11px Tahoma, sans-serif;
}

.menu li.active a {
    color: #fff;
}

.menu li.active a:before {
    color: #fff;
    content: '\2022';
    margin-right: 8px;
}

.menu li.active a:after {
    color: #fff;
    content: '\2022';
    margin-left: 8px;
}

.social {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #464646;
    margin: 0 10px;
    min-width: 130px;
}

.social .vk, .social .fc, .social .tw {
    background: url("../i/soc.png") no-repeat;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    display: inline-block;
}

.social .vk {
    background-position: 0px 0px;
}

.social .fc {
    background-position: -40px 0px;
}

.social .tw {
    background-position: -80px 0px;
}

.copyright {
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*---  index  ---*/

.index-box {
    float: left;
    width: 80%;
    height: 100%;
}

.index-sidebar {
    height: 100%;
    width: 20%;
    float: right;
}

.main-img {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.main-img .sliderArrows {
    display: none;
}

.main-img .brand-plugin {
    position: absolute;
    height: 100%;
    width: 100%;
}

.main-img .item {
    height: 100%;

}

.main-img .ms-img {
    position: absolute !important;
    height: 100% !important;
    width: 900px;
    left: 50%;
    margin-left: -450px;
}

.title {
    font-size: 3em;
    position: absolute;
    left: 50px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 5;
    color: #000;
}

.main-img .title {
    max-width: 50% !important;
    bottom: 50px !important;
}

.main-img .sliderContent {
    height: 600px !important;
}

.brand-plugin .title {
    bottom: 100px;
}

.project-title, .news-title {
    background: #000000;
    text-align: center;
}

.pr-title, .pr-count,
.nw-title, .nw-count {
    font-size: 18px;
    line-height: 200px;
    color: #fff;
}

.pr-title, .nw-title {
    color: #fff;
    margin-right: 5px;
}

.pr-count, .nw-count {
    color: #898989;
}

.service-item-wrapper {
    vertical-align: middle;
    height: 200px;
    display: table-cell;
    width: 100%;
}

.service-item h3 {
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    color: #000000;
}

.service-hr {
    width: 60px;
    height: 1px;
    margin: 15px auto 20px;
    background: #464646;
}

.service-description {
    text-align: center;
    font-size: 12px;
    color: #a1a1a1;
    font-family: Tahoma, sans-serif;
}

.dialog-position {
    position: fixed;
    top: 20px;
    left: 16.6%;
    z-index: 500;
    background: #222222;
    padding: 40px 150px 40px 40px;
    width: 760px;
    display: none;
    margin: 0 0 0 12px;
}

.callback-dialog h2, .city-dialog h2 {
    font-size: 2.5em;
    color: #fff;
    font-weight: normal;
    margin-bottom: 15px;
}

.dialog-description {
    font-size: 1.33em;
    font-family: Tahoma;
    color: #898989;
    margin-bottom: 25px;
}

.dialog-form .row {
    margin: 10px 0;
}

.dialog-form label {
    font-size: 1em;
    color: #898989;
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
    font-family: Tahoma;
}

.callback-dialog .dialog-form label {
    width: 150px;
}

.city-dialog .dialog-form label {
    width: 40%;
}

.dialog-form input[type="text"], .dialog-form textarea {
    border: 1px solid #000000;
    font-family: Tahoma;
}

.dialog-form input[type="text"] {
    text-indent: 6px;
    padding: 6px 0;
    width: 290px;
    font-family: Tahoma;
}

.dialog-form textarea {
    padding: 6px;
    width: 415px;
    min-height: 100px;
    resize: none;
}

.hint {
    font-size: 1em;
    color: #898989;
    margin-left: 155px;
    padding-top: 5px;
    font-family: Tahoma;
}

.dialog-header {
    position: relative;
}

.dialog-close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1em;
    color: #898989;
    cursor: pointer;
    font-family: Tahoma;
}

.callback-dialog .submit-btn {
    margin-left: 155px;
}

.submit-btn {
    padding: 15px 30px;
    border: 1px solid #4ebfa7;
    color: #4ebfa7;
    background: #222222;
    font-size: 1.5em;
    margin-top: 20px;
    cursor: pointer;
}

/*--- about ---*/

.about-wrapp {
    padding: 0px 0px 100px 100px;
}

.about-company {
    float: left;
    width: 65.796%;
    height: 100%;
}

.about-contacts {
    float: left;
    width: 34.204%;
    height: 100%;
    padding-left: 60px;
    padding-right: 15px;
}

.about-footer {
    float: right;
    width: 40%;
    height: 100%;
}

.about-company-descr {
    width: 100%;
    font-size: 0;
    display: block;
}

.about-company-item {
    width: 84.453%;
    font-size: 0;
    display: block;
}

.about-company-descr-title {
    font-size: 2.5em;
    font-weight: normal;
    margin: 50px 0 25px;
}

.about-company-descr li, .about-company-item li {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    padding-right: 20px;
}

.about-company-descr li {
    width: 33.3%;
}

.about-company-item li {
    width: 25%;
}

.about-company-descr li p {
    margin-top: 10px;
}

.about-company-descr li.helper, .about-company-item li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
}

.about-contacts h1 {
    margin-bottom: 25px;
}

.about-company h1 {
    margin-bottom: 25px;
}

.about-contacts h3 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 10px;
}

.about-item-wrapper {
    font-size: 0;
    width: 84.453%;
}

.about-item {
    width: 50%;
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
}

.about-item ul {
    font-size: 0px;
}

.about-item li {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    padding-right: 20px;
    width: 50%;
}

.about-item li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
}

.contacts-title {
    color: #a1a1a1;
    font-size: 14px;
}

.contacts {
    margin-bottom: 40px;
}

.contacts .tr .td:first-child {
    color: #a1a1a1;
    font-size: 14px;
    padding-right: 20px;
}

.contacts .tr .td:last-child {
    font-size: 18px;
}

.contacts .address-tr .td {
    padding-top: 10px;
}

.contacts a {
    color: #4ebfa7;
    display: block;
}

/*--- contact ---*/

.contact-info {
    float: left;
    width: 40%;
    height: 100%;
    padding: 0px 40px 100px 100px;
}

.contact-map {
    /*float: right;*/
    /*width: 60%;*/
    /*height: 800px;*/
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 49.8%;
}

.contact-info h1 {
    margin-bottom: 30px;
}

.contact-info dt {
    color: #898989;
    font-size: 14px;
    font-family: Tahoma;
}

.contact-info dd {
    font-size: 18px;
}

.contact-info dd a {
    color: #4ebfa7;
}

.city-title {
    font-size: 2em;
    margin-bottom: 15px;
    display: inline-block;
    background: none;
    border: none;
    border-bottom: 1px dashed #000;
    outline: none;
    cursor: pointer;
    line-height: 0.9em;
    font-family: 'HelveticaNeueCyr-Light';
}

.contact-city {
    font-size: 2.5em;
    margin-bottom: 25px;
    font-weight: normal;
}

.city-title.active {
    border-bottom: none;
    padding-left: 20px;
    margin-left: -15px;
}

.city-title.active:before {
    content: '\2022';
    display: inline-block;
    color: #4ebfa7;
    margin-left: -20px;
}

.dl-horizontal dt {
    float: left;
    width: 140px;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 140px;
}

.contact-info-ul li {
    padding: 0 10px 50px 0;
    list-style: none;
    line-height: 22px;
    display: block;
    vertical-align: top;
}

/*--- catalog ---*/

.catalog-title {
    background: #000000 !important;
    text-align: center;
}

/*---- brand-plugin ----*/

.brand-plugin {
    position: relative;
}

.brand-description {
    float: left;
    width: 65%;
    height: 100%;
    padding: 0px 40px 100px 100px;
}

.brand-logo {
    float: right;
    width: 35%;
    height: 100%;
    padding: 110px 20px 100px 0;
}

.brand-description-table .tr .td {
    padding: 15px 40px 15px 0;
    vertical-align: top;
    line-height: 1.8em;
}

.brand-title {
    background: #000000 !important;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 200px;
}

.brand-link {
    color: #000;
    font-size: 1.5em;
    margin: 15px 0;
    display: block;
}

.brand-logo-title {
    font-size: 2em;
    margin: 25px 0;
}

/*---- collection ----*/

.collection {
    padding: 0px 0px 100px;
}

.collection h1 {
    margin-bottom: 40px;
    padding-left: 100px;
}

.collection-description {
    float: left;
    width: 40%;
    height: 100%;
    padding-right: 50px;
    padding-left: 100px;
}

.collection-description h5 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 20px;
}

.collection-description p {
    font-size: 1.1em;
    margin-bottom: 40px;
}

.collection-gallery {
    float: right;
    width: 60%;
    height: 100%;
}

/*---- slider -----*/

.slider {
    float: left;
    width: 100%;
    max-height: 800px;
    position: relative;
}

.sliderContent {
    float: left;
    width: 100%;
    height: 800px;
    clear: both;
    position: relative;
    overflow: hidden;
}

.sliderArrows {
    position: absolute;
    background: #000;
    width: 320px;
    height: 70px;
    right: 0;
    z-index: 5;
    text-align: center;
}

.sliderArrows.sliderArrowsBottom {
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0 !important;
    z-index: 5;
    text-align: left;
    padding-left: 20px;
}

.sliderArrowsBottom a {
    font-size: 0 !important;
}

.sliderArrowsBottom span {
    font-size: 1.17em;
    color: #fff;
    line-height: 70px;
}

.sliderArrows a {
    display: inline-block;
    z-index: 50;
    color: #fff;
    font-size: 1.17em;
    line-height: 70px;
}

.sliderArrows a.prev {
    background: url("../i/arrows-prev.png") no-repeat 0% center;
    padding-left: 15px;
}

.sliderArrows a.next {
    background: url("../i/arrows-next.png") no-repeat 100% center;
    padding-right: 15px;
}

.sliderArrowsBottom a.prev {
    background: url("../i/arrows-prev.png") no-repeat 0% 42%;
    padding-left: 15px;
}

.sliderArrowsBottom a.next {
    background: url("../i/arrows-next.png") no-repeat 100% 42%;
    padding-right: 15px;
}

.sliderArrows a.prev:after {
    content: '/';
    padding: 0 10px;
}

.sliderArrowsBottom a.prev:after {
    content: '';
    padding: 0;
}

.sliderContent .item {
    /*display: block;*/
    position: absolute;
    width: 100%;
    max-height: 800px;
    background: #fff;
    overflow: hidden;
}

.in_item {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.sliderContent a {
    outline: none;
}

/*--- gallery ---*/

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px;
}

#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0;
}

#jquery-lightbox a img {
    border: none;
}

#lightbox-container-image-box {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

#lightbox-container-image {
    padding: 10px;
}

#lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#lightbox-container-image-box > #lightbox-nav {
    left: 0;
}

#lightbox-nav a {
    outline: none;
}

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    width: 49%;
    height: 100%;
    zoom: 1;
    display: block;
}

#lightbox-nav-btnPrev {
    left: 0;
    float: left;
}

#lightbox-nav-btnNext {
    right: 0;
    float: right;
}

#lightbox-container-image-data-box {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 0 10px 0;
    box-sizing: content-box;
}

#lightbox-container-image-data {
    padding: 0 10px;
    color: #666;
}

#lightbox-container-image-data #lightbox-image-details {
    width: 70%;
    float: left;
    text-align: left;
}

#lightbox-image-details-caption {
    font-weight: bold;
}

#lightbox-image-details-currentNumber {
    display: block;
    clear: left;
    padding-bottom: 1.0em;
}

#lightbox-secNav-btnClose {
    width: 66px;
    float: right;
    padding-bottom: 0.7em;
}

.hovered-div {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    height: 200px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}

.hovered:hover .hovered-div {
    opacity: 1;
}

.hovered-div span {
    vertical-align: middle;
    height: 200px;
    display: table-cell;
    font-size: 14px;
    font-family: Tahoma;
    padding: 0 20px 0;
}

.has-error input {
    background: #ffb094;
}

.hovered-div-text {
    display: inline-block;
}

.entity_title:first-letter {
    text-transform: uppercase !important;
}

